.pannel {
  top: 0px;
  z-index: -1;
  width: 3600px;
  overflow: hidden;
  height: 860px;
  display: none;
}
.author {
  width: 200px;
  height: 300px;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  position: absolute;
  z-index: 100;
  bottom: 0px;
  left: calc(50% - 100px);
}
.authorA {
  bottom: calc(50% - 150px);
  transform: scale(1.8);
}
.object {
  z-index: 10000;
  width: 5%;
  transition: 0s;
}
#restart:hover {
  transform: rotate(360deg);
  transition: 0.5s linear;
}
#tools {
  height: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
